torch==2.0.1
torchvision==0.15.2
torchaudio==2.0.2
diffusers==0.17.0
transformers==4.31.0
accelerate==0.21.0
pycocotools
pandas
matplotlib
seaborn
scipy
omegaconf
timm
Pillow
hydra-core
opencv-python
ftfy
regex
tqdm
clip @ git+https://github.com/openai/CLIP.git
